@import "tailwindcss";

@theme {
  --color-primary: #3b82f6;
  --color-primary-dark: #2563eb;
  --color-danger: #ef4444;
  --color-warning: #f59e0b;
  --color-success: #10b981;
}

body {
  @apply bg-slate-900 text-slate-50 antialiased;
}
